.form-container{
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-container input{
  width: 50%;
}

.form-container button {
  margin-top: 10px;
  width: 120px;
}